html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,font,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td{margin:0;padding:0;border:0;outline:0;font-size:100%;vertical-align:baseline;background:transparent}body{line-height:1}ol,ul{list-style:none}blockquote,q{quotes:none}blockquote:before,blockquote:after,q:before,q:after{content:'';content:none}:focus{outline:0}ins{text-decoration:none}del{text-decoration:line-through}table{border-collapse:collapse;border-spacing:0}

/* ------------------------------------------------------------------------ */
/* Typography */
/* ------------------------------------------------------------------------ */

body                        {font: 15px/21px "VegurLight",helvetica,sans-serif; color: #888888; font-weight: 200;}
p                           {margin: 0 0 21px 0;}
h1, h2, h3, h4, h5          {font-family: MuseoSans500,helvetica,sans-serif; font-weight: normal; line-height: 1em; color: #CCCCCC;
                                -webkit-font-smoothing: antialiased;
                                text-rendering: optimizeLegibility;}
h1                          {font-size: 30px; margin: 0 0 28px 0; padding: 0 0 5px 0;}
h2                          {font-size: 22px; line-height: 26px; margin: 0 0 22px 0;}
h3                          {font-size: 16px; margin: 0 0 21px 0;}
h4                          {font-size: 14px; margin-bottom: 5px;}
h5                          {font-size: 12px; margin-bottom: 0px; color: #000000; font-family: 'VegurMedium';}
h2 a, h3 a, h4 a            {color: #CCCCCC; font-weight: normal;}
h1 span                     {color: #B03024;}
strong,b                    {font-family: 'VegurMedium';}
em                          {font-style: italic;}
ul, ol                      {margin: 0 0 1.5em 2em;}
ul li                       {list-style-type: disc;}
ol li                       {list-style-type: decimal;}
blockquote                  {margin: 22px 0 22px 25px; padding: 0 0 0 7px; font-style: italic; color: #000000; border-left: 3px solid #B03024;}
a                           {color: #CCCCCC; text-decoration: none;}
a:hover                     {color: #B03024;}
img                         {display: block;}

/* ------------------------------------------------------------------------ */
/* Main CSS */
/* ------------------------------------------------------------------------ */

body                        {border: 0; margin: 0; background: #222A33 url('/media/images/bg_noise.png?a2701a422454'); position: relative;}
#container                  {margin: 0 auto; width: 960px;}
#header                     {float: left; margin-bottom: 40px; width: 100%;}
#description                {float: left; width: 630px;}
#wrapper                    {overflow: hidden; margin-bottom: 1.5em;}
#snippetList, #languageList {margin: 0;}
#snippetList li,
#languageList li            {list-style-type: none;}
#metadata                   {float: right; width: 280px; padding-left: 50px; margin: 0;}
#metadata li                {list-style-type: none; text-align: right;}
dt                          {display: inline-block; width: 75px; font-family: 'VegurMedium';}

/* Sticky Foter*/
html, body                  {height: 100%;}
#container                  {min-height: 100%; margin-bottom: 20px;}
#main                       {padding-bottom: 70px;}
#footer                     {position: relative; margin-top: -70px; height: 50px; clear:both; background: url('/media/images/black-trans-20.png?a2701a422454'); text-align: center;
                                -webkit-box-shadow: 0 0 3px rgba(0,0,0,0.9);
                                -moz-box-shadow: 0 0 3px rgba(0,0,0,0.9);}
#footer span                {display: block; padding-top: 13px;}

/* ------------------------------------------------------------------------ */
/* Post Display */
/* ------------------------------------------------------------------------ */

/* List */
.postContainer                      {padding: 0 0 35px 0;}
.post                               {width: 530px; float: right;}
.post img                           {padding: 28px 0 40px 0; margin: 0px auto;}
.postMetadata                       {width: 150px; float: left; margin: 0;}
.postMetadata .date                 {font-family: MuseoSans500,helvetica,sans-serif; font-size: 12px; float: left; width: 70px; margin: 0 0 10px 0; padding: 5px 7px 7px 7px; background: #B03024; color: #EEEEEE; text-align: center; text-transform: uppercase; border:4px solid #6a1d16;
                                    -webkit-border-bottom-left-radius: 10px;
                                    -moz-border-radius-bottomleft: 10px;
                                    -webkit-border-top-right-radius: 10px;
                                    -moz-border-radius-topright: 10px;
                                    -webkit-box-shadow: 0 0 3px rgba(0,0,0,0.9);
                                    -moz-box-shadow: 0 0 3px rgba(0,0,0,0.9);}
.postMetadata .date span            {display: block;}
.postMetadata .date .year           {font-size: 26px;}
code                                {background: url('/media/images/black-trans-20.png?a2701a422454'); font: 13px 'Bitstream Vera Sans Mono', Monaco, Consolas, 'Courier New', monospace;}
#twitter-share-button               {clear: left; margin-bottom: 5px;}

/* Detail */
#blog_entry_detail #primary         {width: 960px; padding: 0;}
#blog_entry_detail .post            {width: 660px; float: right; padding-right: 150px;}

/* ------------------------------------------------------------------------ */
/* Comments */
/* ------------------------------------------------------------------------ */
#comments h2                        {margin-left: 150px;}
.commentContainer                   {padding: 0 0 35px 0;}
.comment                            {width: 660px; float: right; padding-right: 150px;}
.commentMetadata                    {width: 150px; float: left; margin: 0; color: #B03024;}

/* ------------------------------------------------------------------------ */
/* Navigation */
/* ------------------------------------------------------------------------ */

#menu                               {font-family: MuseoSans500; text-transform: uppercase; margin: 0; padding: 0; float: left;}
#menu li                            {margin-right: 10px; float:left; list-style-type:none; background: url('/media/images/black-trans-20.png?a2701a422454');}
#menu li a#current                  {background: #B03024; color: #FFFFFF;}
#menu li a#current                  {border-bottom: 4px solid #6a1d16; border-left: 4px solid #6a1d16; border-right: 4px solid #6a1d16; padding-top: 70px;
                                        -webkit-border-bottom-right-radius: 6px;
                                        -moz-border-radius-bottomright: 6px;}
                                        -webkit-border-bottom-left-radius: 6px;
                                        -moz-border-radius-bottomleft: 6px;}
#menu:hover li                      {opacity: 0.3; -moz-opacity: 0.3; filter:alpha(opacity=30);}
#menu:hover li:hover                {opacity: 1; -moz-opacity: 1; filter:alpha(opacity=1); }
#menu li a                          {font-weight: normal; color: #AAAAAA; display: block; padding: 60px 12px 5px 12px;
                                        -moz-box-shadow: 0 0 3px rgba(0,0,0,0.9);
                                        -webkit-box-shadow: 0 0 3px rgba(0,0,0,0.9);
                                        -moz-border-radius-bottomleft: 6px;
                                        -webkit-border-bottom-right-radius: 6px;
                                        -moz-border-radius-bottomright: 6px;
                                        -webkit-border-bottom-left-radius: 6px;}
#menu li a:hover                    {background-color: #B03024; color: #FFFFFF;
                                        -moz-border-radius-bottomleft: 6px;
                                        -moz-border-radius-bottomright: 6px;
                                        -webkit-border-bottom-right-radius: 6px;
                                        -webkit-border-bottom-left-radius: 6px;}


#prev-next                          {margin: 0; overflow: hidden;}
#prev-next li                       {list-style-type: none;}
#prev                               {float: left;}
#next                               {float: right;}

/* ------------------------------------------------------------------------ */
/* Forms */
/* ------------------------------------------------------------------------ */

/* Generic */
.input                              {margin: 0 0 10px 0; background: white; float: left; clear: both; background: url('/media/images/black-trans-20.png?a2701a422454');
                                        -webkit-border-radius: 3px;
                                        -moz-border-radius: 3px;}
.input span                         {position: absolute; padding: 5px 5px 5px 7px; margin-left: 3px; color: #999;}
.input input,
.input textarea,
.input select                       {border: none; position: relative; margin: 0; padding: 5px 5px 5px 7px; background: transparent; font: inherit; color: #888888;}
.input input[type='text']           {width: 230px;}
.input textarea                     {height: 140px; width: 450px;}

.section                            {float: left;}
#submit                             {clear: left;}
.errorlist                          {color: #B03024; float: left;  margin: 7px 0 0 10px; font-family: "VegurMedium",helvetica,sans-serif;}
.errorlist li                       {list-style-type: none;}
#formErrors                         {color: #B03024; font-family: "VegurMedium",helvetica,sans-serif;}

/* ------------------------------------------------------------------------ */
/* Miscellaneous */
/* ------------------------------------------------------------------------ */

.clear                              {overflow: hidden;}
.center                             {margin: 0 auto; display: block;}
.centerText                         {text-align: center;}
.imgCaption                         {font-size: 12px; text-align: center; margin: 5px 0 20px 0; display: block;}
.small                              {font-size: 75%;}
.border 		 		            {padding: 3px; border: 1px solid #CCCCCC; background: #FFFFFF;}



pre {font: 12px/18px 'Bitstream Vera Sans Mono', Monaco, Consolas, 'Courier New', monospace; padding: 10px; /*margin-bottom: 21px;*/}

.syntax {width: 960px; overflow: auto; background: #000000; }
.linenos {padding-left: 8px;}
.codehilitetable  { background: #000000; }
.codehilite .c { color: #5F5A60 } /* Comment */
.codehilite .k { color: #CDA869 } /* Keyword */
.codehilite .n { color: #FFFFFF } /* Name */
.codehilite .o { color: #CDA869 } /* Operator */
.codehilite .p { color: #CDA869 } /* Punctuation */
.codehilite .cm { color: #5F5A60 } /* Comment.Multiline */
.codehilite .cp { color: #5F5A60 } /* Comment.Preproc */
.codehilite .c1 { color: #5F5A60 } /* Comment.Single */
.codehilite .cs { color: #5F5A60 } /* Comment.Special */
.codehilite .kc { color: #CDA869 } /* Keyword.Constant */
.codehilite .kd { color: #CDA869 } /* Keyword.Declaration */
.codehilite .kn { color: #CDA869 } /* Keyword.Namespace */
.codehilite .kp { color: #CDA869 } /* Keyword.Pseudo */
.codehilite .kr { color: #CDA869 } /* Keyword.Reserved */
.codehilite .kt { color: #9B859D } /* Keyword.Type */
.codehilite .m { color: #CF6A4C } /* Literal.Number */
.codehilite .s { color: #8F9D6A } /* Literal.String */
.codehilite .na { color: #FFFFFF } /* Name.Attribute */
.codehilite .nb { color: #7587A6 } /* Name.Builtin */
.codehilite .nc { color: #9B859D } /* Name.Class */
.codehilite .no { color: #9B859D } /* Name.Constant */
.codehilite .nd { color: #FFFFFF } /* Name.Decorator */
.codehilite .ni { color: #FFFFFF } /* Name.Entity */
.codehilite .ne { color: #FFFFFF } /* Name.Exception */
.codehilite .nf { color: #9B703F } /* Name.Function */
.codehilite .nl { color: #FFFFFF } /* Name.Label */
.codehilite .nn { color: #FFFFFF } /* Name.Namespace */
.codehilite .nx { color: #FFFFFF } /* Name.Other */
.codehilite .py { color: #FFFFFF } /* Name.Property */
.codehilite .nt { color: #FFFFFF } /* Name.Tag */
.codehilite .nv { color: #FFFFFF } /* Name.Variable */
.codehilite .ow { color: #CDA869 } /* Operator.Word */
.codehilite .w { color: #000000 } /* Text.Whitespace */
.codehilite .mf { color: #CF6A4C } /* Literal.Number.Float */
.codehilite .mh { color: #CF6A4C } /* Literal.Number.Hex */
.codehilite .mi { color: #CF6A4C } /* Literal.Number.Integer */
.codehilite .mo { color: #CF6A4C } /* Literal.Number.Oct */
.codehilite .sb { color: #8F9D6A } /* Literal.String.Backtick */
.codehilite .sc { color: #8F9D6A } /* Literal.String.Char */
.codehilite .sd { color: #8F9D6A } /* Literal.String.Doc */
.codehilite .s2 { color: #8F9D6A } /* Literal.String.Double */
.codehilite .se { color: #8F9D6A } /* Literal.String.Escape */
.codehilite .sh { color: #8F9D6A } /* Literal.String.Heredoc */
.codehilite .si { color: #8F9D6A } /* Literal.String.Interpol */
.codehilite .sx { color: #FFFFFF } /* Literal.String.Other */
.codehilite .sr { color: #E9C062 } /* Literal.String.Regex */
.codehilite .s1 { color: #8F9D6A } /* Literal.String.Single */
.codehilite .ss { color: #CF6A4C } /* Literal.String.Symbol */
.codehilite .bp { color: #7587A6 } /* Name.Builtin.Pseudo */
.codehilite .vc { color: #FFFFFF } /* Name.Variable.Class */
.codehilite .vg { color: #FFFFFF } /* Name.Variable.Global */
.codehilite .vi { color: #FFFFFF } /* Name.Variable.Instance */
.codehilite .il { color: #CF6A4C } /* Literal.Number.Integer.Long */