{% extends 'knowledgebase/base.html' %}

{% block css %}<link rel="stylesheet" href="{{MEDIA_URL}}css/pygments.css" type="text/css">{% endblock css %}

{% block title %} | Languages | {{ object.name }}{% endblock title %}

{% block primary %}
    <h1>{{ object.title }}</h1>
    <div id="wrapper">
        <div id="description">
            {{ object.description_html|safe }}
        </div>
        <ul id="metadata">
            <li>{{ object.date_created|date:"jS F Y" }}</li>
            <li><a href="{{ object.language.get_absolute_url }}">{{ object.language }}</a></li>
        </ul>
    </div>
    <div class="syntax">{{ object.highlighted_code|safe }}</div>
{% endblock %}