{% load template_utils_tags %}
<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd"> 

<html lang="en"> 
<head>

{# Meta Tags #}
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"> 
<meta name="title" content=""> 
<meta name="keywords" content=""> 
<meta name="description" content=""> 
<meta name="author" content="Tim Fletcher"> 

{# CSS #}
<link rel="stylesheet" href="{{MEDIA_URL}}css/fonts.css" type="text/css">
<link rel="stylesheet" href="{{MEDIA_URL}}css/screen.css" type="text/css">
{% block css %}{% endblock css %}

{# Scripts #}
{% block scripts %}{% endblock scripts %}
 
{# Title #}
<title>Tim Fletcher{% block title %}{% endblock title %}</title>
 
</head> 
<body>
<div id="container">
    <div id="main">
        <div id="header">
            {% block nav %}
                <ul id="menu">
                    <li><a id="{% active request "^/snippets/|^/$" %}" href="{% url kb_snippet_list %}">Snippets</a></li>
                    <li><a id="{% active request "^/languages/" %}" href="{% url kb_language_list %}">Languages</a></li>
                </ul>
            {% endblock nav %}
        </div>
        <div id="primary">
            {% block primary %}{% endblock %}
        </div>
    </div>
</div>
</body>
</html>